h1{
	text-align: center;
}
body{
	font-size: 15px;
}
#axis path,
#axis line {
  fill: none;
  stroke: black;
  stroke-width:1px;
  shape-rendering: crispEdges;
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

.chart{
	margin-left: 20px;
}

.buttons{
	margin-left: 10px;
}
/*button{
	font-size: 15px;
	background: white;
}
button:hover{
	background: black;
	color: white;
}*/
